*.sublime-project
*.sublime-workspace
*.o
*.d
*.tcl
*.out
*.a
*.so
bin/
CMakeFiles/
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
